.cardapio{
    display: flex;
    flex-direction: column;
    align-items:center ;
    justify-content: center;
    min-height: 100vh;
}
.area-cards{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
    margin-top: 24px;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    width: 350px;
    gap: 18px;
    padding: 20px;
    background-color: var(--color-neutra-2);
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
}